
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 23, 42;
  --background-rgb: 248, 250, 252;
}

body {
  font-family: 'Inter', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer components {
  .btn-primary {
    @apply bg-rose-600 text-white hover:bg-rose-700 transition-all active:scale-95 shadow-xl shadow-rose-200 disabled:bg-slate-200 disabled:text-slate-400 disabled:shadow-none;
  }
}
