name: PR Quality

on:
  pull_request:
    branches:
      - main

concurrency:
  group: pr-quality-${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  quality-lint-test:
    name: quality-lint-test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with:
          version: 10.13.1
      - uses: actions/setup-node@v4
        with:
          node-version: 22.16.0
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Run lint
        run: pnpm lint
      - name: Run tests
        run: pnpm test

  quality-build:
    name: quality-build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with:
          version: 10.13.1
      - uses: actions/setup-node@v4
        with:
          node-version: 22.16.0
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Verify if the build is ok
        run: pnpm build
