name: Creates a docker image for production

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  build_docker:
    name: Build the docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Log in to Nexus Docker Hub
        uses: docker/login-action@v3
        with:
          registry: git.makecodes.dev
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: git.makecodes.dev/hwcollector/app
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            APP_VERSION=${{ github.ref_name }}
      - name: Deployment App
        uses: imakecodes/tc-deployments@main
        with:
          deploy_version: "${{ github.ref_name }}"
          deploy_image: "git.makecodes.dev/hwcollector/app"
          service: "hwc-app"
          component: "app"
          deploy_webhook_url: "https://n8n.ops.makecodes.dev/webhook/hwcollector-deployments"
          sentry_dsn: ${{ secrets.SENTRY_DSN }}
          auth: ${{ secrets.N8N_BASIC_AUTH }}
          enable_influxdb: "true"
          influxdb_url: ${{ secrets.INFLUXDB_URL }}
          influxdb_org: ${{ secrets.INFLUXDB_ORG }}
          influxdb_bucket: ${{ secrets.INFLUXDB_BUCKET }}
          influxdb_token: ${{ secrets.INFLUXDB_TOKEN }}
      - name: Deployment Website
        uses: imakecodes/tc-deployments@main
        with:
          deploy_version: "${{ github.ref_name }}"
          deploy_image: "git.makecodes.dev/hwcollector/app"
          service: "hwc-website"
          component: "website"
          deploy_webhook_url: "https://n8n.ops.makecodes.dev/webhook/hwcollector-deployments"
          sentry_dsn: ${{ secrets.SENTRY_DSN }}
          auth: ${{ secrets.N8N_BASIC_AUTH }}
          enable_influxdb: "true"
          influxdb_url: ${{ secrets.INFLUXDB_URL }}
          influxdb_org: ${{ secrets.INFLUXDB_ORG }}
          influxdb_bucket: ${{ secrets.INFLUXDB_BUCKET }}
          influxdb_token: ${{ secrets.INFLUXDB_TOKEN }}
